---
const pageTitle = "About Me";

const identity = {
  firstName: "andy",
  country: "earth",
  occupation: "Engineer",
  hobbies: ["reading", "football"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/articles/">Articles</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
        <h2> this is my first website! </h2>
        <p> I am working through astro's intro tutorial. this is about page. my first one i built myself. </p>
        <p> this site will update as i complete more of the tutorial, so keep checking how is my journey going!</p>

        <p> Quick facts about me: </p>
        <ul>
            <li> I'm {identity.firstName}.</li>
            <li> I live in {identity.country} and i'm a {identity.occupation}.</li>
            {
                identity.hobbies.length >= 2 && 
                <li> things i do in my free time: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p> im good at: </p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
